<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/imagen_logo_sonata_v1.png">
    <link rel="stylesheet" href="/css/editProductList.css">
    <title>Lista de productos</title>
</head>

<body>
    <%- include('../partials/header') %>

        <main class="main-tracks">
            <div class="main-header">
                <h3>LISTADO DE ÁLBUMES</h3>
            </div>

            <section class="tracks">

                <%filtraAlbums.forEach(function(album) { %>
                    
                    <article class="track-card">
                        <div class="track-card-img">
                            <img src="<%=album.image%>" alt="imagen_Album">
                            <div class="track-card-name">
                                <h4>
                                    <%=album.name%>
                                </h4>
                            </div>
                        </div>
                        <div class="track-button">
                            <a href="/product/<%=user.id%>/edit/<%=album.id%>">
                                <button id="button-edit">EDITAR</button>
                            </a>
                            <a href="">
                                <form action="/product/<%=user.id%>/edit-list/<%=album.id%>?_method=DELETE"
                                    method="post">
                                    <button id="button-delete" type="submit">ELIMINAR</button>
                                </form>
                            </a>
                        </div>
                    </article>
                    <% }); %>
            </section>
        </main>
        <%- include('../partials/footer') %>
</body>

</html>