<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Titulo e icono de la pestaña-->
        <title>¡Bienvenidos a Sonata!</title>
        <link rel="shortcut icon" href="/images/imagen_logo_sonata_v1.png">

        <!--CDN FONT AWESOME-->
        <script src="https://kit.fontawesome.com/0aeb7696ea.js"
            crossorigin="anonymous"></script>
        <!-- Link Swiper's CSS -->
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

        <!--CUSTOM CSS-->
        <link rel="stylesheet" href="/css/Productos/productDetail.css">

    </head>

    <body>
        <%- include('../partials/header') %>

        <section class="contenedor_producto">

            <section class="informacion_producto">
                <div class="contenedor_informacion_producto">

                    <!--SLIDER DEL ÁLBUM-->
                    <section class="imagen_album">

                        <!--IMAGEN DEL ÁLBUM-->
                        <script>
                            let rutaImagenAlbum = "<%=filtraProducto.image%>"
                            let contenedorRuta_imagen = document.querySelector(".imagen_album");
                            contenedorRuta_imagen.style.background = `url('${rutaImagenAlbum}') center / cover no-repeat`;
                        </script>

                        <button class="boton_play" type="button">
                            <i class=" fa-regular fa-circle-play"></i>
                        </button>

                    </section>

                    <!--DESCRIPCIÓN DEL PRODUCTO-->
                    <section class="detalles_album">

                        <!--NOMBRE DEL ÁLBUM-->
                        <h2 class="detalle_nombreAlbum">
                            <%=filtraProducto.name%>
                        </h2>

                        <!--DURACIÓN DEL ÁLBUM-->
                        <h5 class="detalle_album">Duración: <span>
                                <%=filtraProducto.totalLength%>
                            </span>
                        </h5>

                        <!--GÉNERO DEL ÁLBUM-->
                        <h5 class="detalle_album">Género: <span
                                style="text-transform: capitalize;">
                                <%=filtraProducto.genreAlbum.name%>
                            </span>
                        </h5>

                        <!--FECHA DE PUBLICACIÓN DEL ÁLBUM-->
                        <h5 class="detalle_album">Fecha de publicación: <span>
                                <%=filtraProducto.dateUpload%>
                            </span>
                        </h5>

                        <!--ARTISTA DEL ÁLBUM-->
                        <h5 class="detalle_album">Artista: <span>
                                <%=user.userName%>
                            </span>
                        </h5>

                        <section class="detalle_album_descripcion">
                            Descripción:
                            <p><%=filtraProducto.description%></p>
                            <span class="verMasDescripcion">Ver más<i
                                    class="fa-regular fa-eye"></i></span>
                        </section>

                        <script>
                           document.addEventListener("DOMContentLoaded", () => {
                                let verMasBoton = document.querySelector(".verMasDescripcion");
                                let contenedorExtra = document.querySelector(".informacion_extra");
                                verMasBoton.addEventListener("click", () => {
                                    contenedorExtra.classList.toggle("mostrar_informacion_extra");
                                    contenedorExtra.scrollIntoView({ behavior: "smooth" });
                                });
                                
                            });
                        </script>

                        <button class="boton_agregarCarrito" type="submit">
                            Agregar
                            <i class="fa-solid fa-cart-plus"></i>
                        </button>

                        <section class="precio_album_detalleProducto">
                            <h4>$<%=filtraProducto.price+" "+filtraProducto.coin%></h4>
                        </section>
                    </section>

                </div>

            </section>

            <section class="informacion_extra">
                <section class="contenedor_informacion_extra">
                    <section class="descripcion_album">
                        <h2>Descripción del Album</h2>
                        <p><%=filtraProducto.description%></p>
                    </section>

                    <section class="informacion_artista">
                        <!--NOMBRE DEL ARTISTA-->
                        <h2 class="nombre_artista">
                            ¿Quién es <%=user.userName%>?
                        </h2>

                        <!--DESCRIPCION DEL ARTISTA-->
                        <p class="descripcion_artista">
                            <%=user.description%>
                        </p>

                        <!--VALORACIÓN DEL ARTISTA-->

                    </section>

                </section>
            </section>

            <%- include('../partials/footer') %>

        </body>

    </html>