<% for(let i=0; i<albumes.length; i++){ %>
    
    <div class="swiper-slide">


        <!--IMAGEN DEL ALBUM DEL SLIDER POPULAR-->
        <img src=<%=albumes[i].image%> />

        <!--PRECIO DEL ALBUM DEL SLIDER POPULAR-->
        <h3 class="precio_album">$<%=albumes[i].price%></h3>

        <div class="descripcion_album">

            <!--NOMBRE DEL ALBUM DEL SLIDER POPULAR-->
            <h3><%=albumes[i].name%></h3>

            <div class="subdescripcion_album">

                <!--BOTON HACIA DETALLES DEL ALBUM DEL SLIDER POPULAR-->
                <a class="descripcion_boton" href=<%="/product/detail/"+albumes[i].id%>>Ver Album</a>

                <!--CALIFICACIÓN DEL ALBUM DEL SLIDER POPULAR-->
                
                <!-- <div class="calificacion">
                    <span><%=albumes[i].valoracion%></span>
                    
                    <% for (let j=0; j<5; j++){ %>

                         <% if(j<albumes[i].valoracion){ %>
                            <i class="fa-solid fa-star" style="color:yellow"></i>
                        <% } else{ %>
                            <i class="fa-solid fa-star"></i>
                        <% } %>

                    <% } %>

                </div> -->
            </div>
        </div>
    </div>

<%}%>