<% for(let i=0; i<albumes.length; i++){ %>

    <!--IMAGEN DEL ALBUM DEL SLIDER POPULAR-->
    <div class="tarjeta_album todo <%= (albumes[i].genreAlbum.name).toLowerCase() %>">
        <section class="titulo_tarjeta_album">
            <h2><%=albumes[i].name%></h2>
            <button data-id=<%=albumes[i].id%> class="fa-solid fa-cart-plus agregar_carrito"></button>
        </section>

        <img class="imagen_tarjeta_album" src=<%=albumes[i].image%>>

        <div class="fondo_imagen">
            <a href=<%="product/detail/" + albumes[i].id%> class="boton_verProducto"
                href>Ver producto <i
                    class="fa-solid fa-eye"></i></a>
        </div>

        <h3 class="precio_tarjeta_album">$<%=albumes[i].price +" "+albumes[i].coin
            %></h3>
    </div>

    <%}%>

    <script>
//EFECTO SOBRE LAS TARJETAS DE LOS ALBUMES
let fondo_imagen = document.querySelectorAll(".fondo_imagen")

let contenedores = document.querySelectorAll(".tarjeta_album");

for (let i = 0; i < contenedores.length; i++) {

    contenedores[i].addEventListener("mouseover", () => {
        fondo_imagen[i].classList.add("fondo_imagen_tamaño");
    })

    contenedores[i].addEventListener("mouseout", () => {
        fondo_imagen[i].classList.remove("fondo_imagen_tamaño");
    })
}
</script>