<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
    
    <title>Editar producto</title>
</head>
<body class="body-home">
    <%- include("partials/header") %>
    
    <div class="formulario-carga">
        <h1>Formulario de edición</h1>
        <form action="/productos-detail/<%=product.id%>?_method=PUT" method="POST">
            <label for="name">
                Nombre del producto
                <input type="text" id="name" value="<%=product.nombre%>" name="productName">
            </label>
            <label for="description">
                Descripción
                <textarea name="description" id="description"><%=product.description%></textarea>
            </label>
            <label for="">
                Caracteristicas
                <textarea name="characteristics"><%=product.description%></textarea>
            </label>
            <label for="">
                Precio
                <input value="<%=product.precio%>" name="price" type="number">
            </label>
            <label for="">
                Descuento
                <input value="<%=product.descuento%>" name="discount" type="number">
            </label>
            <label for="">
                Categoria
                <select name="category" id="">
                    <option value="PS4">PS4</option>
                    <option value="XboX one">XboX one</option>
                    <option value="wi">wii</option>
                    <option value="ps3">ps3</option>
                    <option value="xbox 360">xbox 360</option>
                </select>
            </label>
            <div class="btn-enviar-carga">
                <input type="submit" name="Enviar" id="" value="Editar">
            </div>
        </form>
    </div>
</body>
</html>