<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
    <title>Crear producto</title>
</head>
<body class="body-home">
    <%- include("partials/header") %>
    
    <div class="formulario-carga">
        <h1>Formulario de carga</h1>
        <form action="/productos-detail" method="POST" enctype="multipart/form-data">
            <label for="productName">
                Nombre del producto
                <input type="text" id="productName" name="productName" value="<%= locals.oldData ? locals.oldData.productName : '' %>">
                <% if (locals.errors && locals.errors.productName) { %>
                  <div class="text-danger">
                    <%= locals.errors.productName.msg %>
                  </div>
                <% } %>
            </label>

            <label for="description">
                Descripción
                <textarea id="description" name="description"><%= locals.oldData ? locals.oldData.description : '' %></textarea>
                <% if (locals.errors && locals.errors.description) { %>
                  <div class="text-danger">
                    <%= locals.errors.description.msg %>
                  </div>
                <% } %>
            </label>

            <label for="characteristics">
                Características
                <textarea id="characteristics" name="characteristics"><%= locals.oldData ? locals.oldData.characteristics : '' %></textarea>
                <% if (locals.errors && locals.errors.characteristics) { %>
                  <div class="text-danger">
                    <%= locals.errors.characteristics.msg %>
                  </div>
                <% } %>
            </label>

            <label for="price">
                Precio
                <input type="number" id="price" name="price" value="<%= locals.oldData ? locals.oldData.price : '' %>">
                <% if (locals.errors && locals.errors.price) { %>
                  <div class="text-danger">
                    <%= locals.errors.price.msg %>
                  </div>
                <% } %>
            </label>

            <label for="discount">
                Descuento
                <input type="number" id="discount" name="discount" value="<%= locals.oldData ? locals.oldData.discount : '' %>">
            </label>

            <label for="clase_id">
                Clase
                <select id="clase_id" name="clase_id">
                    <option value="1">guerra</option>
                    <option value="2">aventura</option>
                    <option value="3">terror</option>
                    <option value="4">hardcore</option>
                </select>
                <% if (locals.errors && locals.errors.clase_id) { %>
                  <div class="text-danger">
                    <%= locals.errors.clase_id.msg %>
                  </div>
                <% } %>
            </label>

            <label for="img">
                Imagen
                <input type="file" id="img" name="img">
                <% if (locals.errors && locals.errors.img) { %>
                  <div class="text-danger">
                    <p><%= locals.errors.img.msg %></p>
                  </div>
                <% } %>
            </label>

            <div class="btn-enviar-carga">
                <input type="submit" name="Enviar" id="">
            </div>
            
        </form>
    </div>
</body>
</html>