<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="shortcut icon" href="/images/imagen_logo_sonata_v1.png">
    <title>Iniciar Sesión</title>
</head>
<body>

    <!--Main content-->
    <main class="main-login">

        <!--Left content-->
        

        <!--Right content-->
        <section class="login-form-content">

            <h1 class="titulares">INICIAR SESIÓN</h1>

            <form class="form-login" action="" method="post">


                <label class="label-forms" for="">Email/Usuario</label>
                <input type="text" name="user_email"  placeholder="Nombre de usuari@" value="<%= locals.oldData ? oldData.user_email :null %>"></input>
                <% if (locals.errors && errors.user_email ) { %>
                    <div class="error-msg">
                        <%=errors.user_email.msg%>
                    </div>
                <% } %>
                <label class="label-forms" for="">Clave</label>
                <input type="password" name="user_password"  placeholder="Contraseña" value="<%= locals.oldData ? oldData.user_password :null %>"></input>
                <% if (locals.errors && errors.user_password ) { %>
                    <div class="error-msg">
                        <%=errors.user_password.msg%>
                    </div>
                <% } %>

                <a class="form-login-submit" href="#">
                    <button type="submit">Ingresar</button>
                </a>

                <a class="form-login-forgot-password" href="#">Olvidé la contraseña</a>
                
                <div class="remember-section">
                    <input type="checkbox" name="recordame">
                    <a href="#">Recordar usuario</a>
                </div>
            </form>


            <div class="login-register-section">
                <h5 class="recomendaciones">¿Eres nuevo?</h5>
                <a href="/register"><button>Crear cuenta</button></a>
            </div>

        </section>

    </main>

    <!--Footer-->
    <%- include('../partials/footer') %>
</body>
</html>